name: Swift CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - uses: actions/checkout@v4
      
    - uses: swift-actions/setup-swift@v2
      with:
        swift-version: "5.9.2"
      env: 
        SWIFT_PLATFORM: ubuntu22.04
      
    - name: Build
      run: swift build
      
    - name: Test
      run: swift test
